<ul class="nav" [ngClass]="{ 'home': isHome }">
    <li *ngIf="!isHome" class="nav-item nav-item-home">
        <a class="nav-link" routerLink="/">
            <h1>La Madriguera</h1>
        </a>
    </li>
    <li class="nav-item nav-item-news">
        <a class="nav-link" routerLink="/news">
            <fa-icon [icon]="faNewspaper"></fa-icon>
            <span>Noticias</span>
        </a>
    </li>
    <li class="nav-item nav-item-food">
        <a class="nav-link" routerLink="/food">
            <fa-icon [icon]="faUtensils"></fa-icon>
            <span>Menu</span>
        </a>
    </li>
    <li class="nav-item nav-item-reserve">
        <a class="nav-link" routerLink="/reserve">
            <fa-icon [icon]="faCalendar"></fa-icon>
            <span>Reserva</span>
        </a>
    </li>
    <li class="nav-item nav-item-shop">
        <a class="nav-link" routerLink="/shop">
            <fa-icon [icon]="faShoppingCart"></fa-icon>
            <span>Compra</span>
        </a>
    </li>
    <li class="nav-item nav-item-contact">
        <a class="nav-link" routerLink="/contact">
            <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
            <span>Contacto</span>
        </a>
    </li>
</ul>