@import '../../variables.scss';

:host {
    background-color: $mainBlue;
    width: 100%;
    height: 100%;
    display: block;
    color: $white;
    position: relative;
    > div {
        top: 20%;
        position: absolute;
        width: 100%;
    }
}

h1{
    text-transform: uppercase;
    font-family: 'front_page_neueregular';
    font-size: 125px;
    text-align: center;
}