<div class="container-full">
    <app-main-nav></app-main-nav>

    <div class="container">
        <h1 class="section-title">Contacto</h1>
        <h3>Cafetería · Restaurante · Sala de juegos</h3>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <a href="https://es-la.facebook.com/LaMadrigueramex/" target="_blank">
                        @LaMadrigueramex
                    </a>
                </div>
                <div>
                    <fa-icon [icon]="faLocationArrow"></fa-icon>
                    Av. Tepeyac #947 <br />
                    CP 45040 Zapopan, Jalisco, México
                </div>
                <div>
                    <a href="tel:555-555-5555">
                        <fa-icon [icon]="faPhone"></fa-icon>
                        23043363
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14932.68412247111!2d-103.4033685!3d20.6626197!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc080ec691f437f0d!2sBoard%20Game%20La%20Madriguera!5e0!3m2!1ses-419!2smx!4v1575224159571!5m2!1ses-419!2smx"
                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>